@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
::selection {
    background-color: #0b372dbb;
}
.logo {
    width: 100px;
}
header {
    position: absolute;
    padding: 0.9rem 0;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255,255,0.1);
}
header nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul {
    display: flex;
    list-style: none;
    align-items: center;
}
header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}
.search a {
    font-size: 1.05rem;
    padding: 0 3rem;
}
.hamburger {
    padding-left: 1.5rem;
}
.hamburger a {
    width: 37px;
    height: 37px;
    padding: 0;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}
.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}
.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translate(-50%);
    background-color: inherit;
    height: 100%;
    border-radius: 2px;
}
.hamburger .bar::before {
    top: -4.5px;
}
.hamburger .bar::after {
    top: 4.5px;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.bg-img {
    position: absolute;
    width: 2800px;
    top: calc(50% - 390px);
    left: calc(50% + 10px);
    transform: translate(-50%,-50%);
    z-index: 1;
}
.text {
    position: absolute;
    z-index: 9;
    top: calc(50% - 130px);
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    pointer-events: auto;
}
.text h2 {
    font-weight: 100;
    font-size: 6.5rem;
}
.text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}

.sun-rays {
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 595px;
    pointer-events: none;
}
.black-shadow {
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}
.fog-2 {
    position: absolute;
 z-index: 2;
 top: calc(100% - 355px);
 left: 50%;
width: 1600px;
}
.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
    pointer-events: none;
}
.parallax {
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.45s cubic-bezier(.2, .49, .32, .99);
}

.fog-1 {
    position: absolute;
 z-index: 2;
 top: calc(50% - 100px);
 left: calc(50% + 300px);
 width: 1900px;
}
.mountain-10 {
    position: absolute;
 z-index: 3;
    top: calc(50% + 69px);
 width: 870px;
 left: calc(50% + 230px);
}
.mountain-9 {
    position: absolute;
 z-index: 5;
 top: calc(50% + 119px);
 width: 463px;
 left: calc(50% - 457px);
}
.mountain-8 {
    position: absolute;
 z-index: 6;
 top: calc(50% + 96px);
 width: 786px;
 left: calc(50% - 202px);
}
.fog-3 {
    position: absolute;
 z-index: 2;
 top: calc(50% + 171px);
 left: calc(50% + 29px);
 width: 449px;
}
.mountain-7 {
    position: absolute;
 z-index: 8;
 width: 515px;
 top: calc(50% + 134px);
 left: calc(50% + 305px);
}
.mountain-6 {
    position: absolute;
 z-index: 10;
 top: calc(50% + 86.5px);
 width: 383.5px;
 left: calc(50% + 590px);
}
.fog-4{
    position: absolute;
 z-index: 2;
 top: calc(50% + 242px);
 left: calc(50% - 64px);
 width: 543px;
}
.mountain-5 {
    position: absolute;
 z-index: 12;
 top: calc(50% + 269px);
 width: 583px;
 left: calc(50% + 130px);
}
.fog-5 {
    position: absolute;
 z-index: 2;
 top: calc(50% + 149px);
 left: calc(50% - 28px);
 width: 1435px;
}
.mountain-4 {
    position: absolute;
 z-index: 14;
 top: calc(50% + 221px);
 width: 717px;
 left: calc(50% - 381.5px);
}
.mountain-3 {
    position: absolute;
 z-index: 15;
 top: calc(50% + 133px);
 left: calc(50% + 736px);
 width: 419px;
}
.fog-6 {
    position: absolute;
 z-index: 6;
 top: calc(50% + 177px);
 left: calc(50% - 30px);
 width: 1418px;
}
.mountain-2{
    position: absolute;
 z-index: 17;
 top: calc(50% + 188px);
 left: calc(50% + 412px);
 width: 625px;
}
.mountain-1 {
    position: absolute;
 z-index: 18;
 top: calc(50% + 91.5px);
 left: calc(50% - 601px);
 width: 450px;
}